[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
flake8-docstrings = "*"
sympy = "*"
isort = "*"
